h1 {
  text-align: center;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.home-content {
  text-align: center;
}

.home-title {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.home-search {
  display: inline !important;
  width: 30% !important;
}

.register-msg {
  background-color: beige;
}

.header {
  padding-top: 2%;
  font-size: larger;
}

.footer {
  margin-top: 30%;
  margin-bottom: 5%;
  position:relative;
  bottom: 0;
  font-size: larger;
}

.login-div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 40%;
  height: 30%;
}

.input-field {
  float: right;
  width: 60% !important;
  vertical-align: middle;
}



.submit-button {
  float: right;
}

.id-label {
  margin-right: 1%;
}

.register-div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 50%;
}

.inner-content {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 70%;
}

.paid-checkbox {
  text-align: center;
}