h1 {
  text-align: center;
}

.content {
  margin-left: 5%;
  margin-right: 5%;
}

.right {
  float: right;
}

.home-content {
  text-align: center;
}

.home-title {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
}

.home-search {
  display: inline !important;
  width: 30% !important;
}

.register-msg {
  background-color: beige;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table {
  width: 100%;
  background-color: #56ebf1;
}

.header {
  padding-top: 2%;
  font-size: larger;
}

.footer {
  margin-top: 30%;
  margin-bottom: 5%;
  position:relative;
  bottom: 0;
  font-size: larger;
}

.login-div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 40%;
  height: 30%;
}

.input-field {
  float: right;
  width: 60% !important;
  vertical-align: middle;
}

.submit-button {
  float: right;
}

.id-label {
  margin-right: 1%;
}

.register-div {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 50%;
}

.inner-content {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 70%;
}

.paid-checkbox {
  text-align: center;
}

.wider-inner-content {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  width: 80%;
  min-height: 120%;
}

.right-content {
  margin-left: 30%;
  width: 70%;
}

.sidebar {
  width: 25%;
  float: left;
}

.card-image {
  max-width: 35%;
  max-height: 35%;
  width: auto;
  height: auto;
  float: left;
  border-radius: 5%;
  margin-right: 3%;
}

.tour-card {
  margin-bottom: 3%;
}

.view-tour-button {
  float: right;
}